
body {
	margin: 0px;
	padding: 0px;
	background-color: #eee;
}


#vocabToolbar input {
	position: absolute;
	left: 24px; top: 24px; width: 120px; height: 32px;
	
}

#vocabToolbar #searchBtn {
	position: absolute;
	left: 142px; top: 24px; width: 64px; height: 32px;
}

#vocabToolbar #saveBtn {
	position: absolute;
	right: 24px; top: 25px; width: 96px; height: 32px;
}

#vocabToolbar .breadcrumbs {
	background-color: #fff;
	position: absolute;
	right: 124px; top: 24px; height: 33px;
	
}

#userLists {
	position: absolute;
	right: 24px; top: 64px; width: 160px;
}

#userLists ul { padding: 0; }

#userLists ul li {
	padding: 0.6em;
}